@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


/* Racine du CSS
"-- sont des variables en CSS" */
:root{
    --texte:black;
    --background:white;
    --bouton:rgb(67, 67, 67);
    --textButon:white;
}

/* Bouton de scroll */
#scrollUp-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #9e1919;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;
}
#scrollUp-btn:hover{
    transition: 0.5s;
    color: #9e1919;
    background: white;
}


/* Top message  */
.top-banner{
    width: 98%;
    padding: 1px;
    text-align: center;
    background-color: black;
    color: white;
    position:sticky;
    overflow: hidden;
    /* La propriété white-space est utilisée pour décrire la façon dont les blancs sont gérés au sein de l'élément.
    Nowrap = mettre en ligne. */
    white-space: nowrap;
}
.top-banner p{
    display: inline-block;
    padding-left: 100%;
    animation: animate 7s linear infinite;
    font-size: 12pt;
}

@keyframes animate {
    100%{
        transform: translate(-100%, 0)
    }
}

/* Body général */
body{
    padding:0;
    margin:0;
    background: var(--background);
    font-family: 'Oswald', sans-serif;
}

/* ____________________HEADER____________________ */
/* "#accueil" = body de la page d'accueil */
#accueil{
    width: 100%;
    /* 100vh = hauteur d'écran */
    height: 100vh;
    background-image:url(/images/header.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}



/* Barre de navigation générale */
nav{
    width: 100%;
    display: flex;
    /* Faire rentrer tous les éléments lorsqu'il n'y a pas assez de place */
    flex-direction: column;
    /* Bloquer la barre de navigation lorsqu'on scroll */
    position:sticky;
    top:0%;
    background-color: #0005;
}

/* Ul */
nav .accueil{
    /* Enlever ces satanées puces */
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}
nav ul li a{
    /* Espace entre les menus */
    padding-inline: 25px;
    color: white;
    /* Enlever les barres */
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color: rgba(255, 255, 255, 0.219);
}

.ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Réseaux sociaux */
.social-media{
    align-items: left;
    padding: 20px;
}
/* Espace entre les éléments (réseaux sociaux) */
.social-media a{
    padding-inline: 5px;
}

/* Logo */
.logo{
    text-align: center;
    margin-top: -50px;
    cursor: pointer;
    z-index: -1;
}

/* Icône du soleil */
i{
    font-size: 20px;
    padding: 20px;
    color: white;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

  
/* Texte : Moi c'est Steven YAMBOS... */
#text{
    padding-top: 100px;
    color: white;
    font-weight:lighter;
    font-size: 40pt;
    text-align: center;
}


/* ____________________MAIN____________________ */
/* Section/Div "projets réalisés" */
.section-projets{
    margin-top: 10%; 
}
/* Titre */
main h1{
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30pt;
}

/* Conteneur des cartes */
.container-cards{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /* Espace entre les éléments flex */
    gap: 100px;
    margin-top: -20px;
}
.container-cards .card{
    position: relative;
    cursor: pointer;
}
.container-cards .card .face{
    width: 350px;
    height: 250px;
    transition: 0.5s;
}
.container-cards .card .face.face1{
    border-radius: 10px;
    position: relative;
    background: #f1f1f1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}
.container-cards .card:hover .face.face1{
    background: #f1f1f1;
    transform: translateY(0);
    border-radius: 10px;
}
.container-cards .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}
.container-cards .card:hover .face.face1 .content{
    opacity: 1;
}
.container-cards .card .face.face1 img{
    max-width: 100px;
    z-index: 3;
}
.container-cards .card .face.face1 img h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

/* Conteneur des cartes en hover effect */
.container-cards .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(75, 75, 75, 0.274);
    transform: translateY(-100px);
    border-radius: 10px;
}
.container-cards .card:hover .face.face2{
    transform: translateY(0);
}
.container-cards .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.container-cards .card .face.face2 .content a{
    margin: 15px 0 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bouton);
    color: var(--textButon);
    border: 1px solid black;
}
.container-cards .card .face.face2 .content a:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
}
/* "Projets réalisés" texte */
.description{
    color: var(--texte);
}

/* ____________________________________________________________ */
/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: black;
    margin-top: 15%;
}

/* Logo footer */
.logo-footer{
    text-align: center;
    margin: 3%;
    cursor: pointer;
}
.logo-footer figcaption{
    text-align: center;
    color: white;
    font-size: 9pt;
    letter-spacing: 2px;
}

/* Texte */
#p{
    text-align: center;
    color: white;
}

/* icônes */
.downPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* Copyright "C Steven YAMBOS" */
footer #copyright{
    color: white;
    text-align: center;
    font-size: 8pt;
    padding-top: 10px;
}

/* ________________________PAGE PROJETS________________________ */

/* /!\ #projets = body de la page projet /!\ */
#projets::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

#projets header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.644)), url(images/keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-header{
    width: 100%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.text-header h1{
    color: white;
    letter-spacing: 1.5px;
    font-size: 30pt;
    font-weight: 200;
}
hr{
    border: 0;
    border-top: 2px solid white;
    width: 25%;
    padding: 10px;
    justify-items: center;
}
.languages-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.languages-images img{
    padding-inline: 30px;
    width: 200px;
    height: 200px;
}

/* Conteneur du texte d'introduction */
#introduction-text{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, white, #f5f5f5);
}
/* Texte d'introduction */
#introduction-text p{
    text-align: center;
    font-size: 25pt;
    color: black;
    font-weight: 200;
    width: 80%;
    line-height: 60px;
}

/* SECTION COMPETENCES */
#skills-section{
    height: 190vh;
    background: linear-gradient(to right,#2a3135, #0d1113);
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}
/* Titre */
#skills-section h1{
    padding: 20px;
    color: white;
    font-size: 45pt;
    letter-spacing: 5px;
}

/* Conteneur de la première ligne d'images */
.row{
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
    gap: 100px;
    padding: 60px;
    cursor: pointer;
}

/* Conteneur de "images + description" */
.ui-card{
	width: 300px;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-out;
    border-radius: 15px;
}
.ui-card img{
    /* Aggrandir ou rétrécir l'image */
	transform: scale(0.9);
	transition: all 0.2s ease-out;
    width: 100%;
}
.ui-card:hover img{
        /* Aggrandir ou rétrécir l'image */
	transform: scale(1); 
	opacity: 0.3
}
/* Description des images */
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/* text-align: center; */
	color: #fff;
	font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;
    text-align: center;

}
.ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.2s ease-out 0.2s;

}
.ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
}
.ui-card .description a{
    width: 80px;
    text-align: center;
	color: #f5f5f5;
	background:#9e1919;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.2s ease-out 0.2s;
}
.ui-card .description a:hover{
	background:#f5f5f5;
    color: #9e1919;
    font-weight: bold;
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(0px);
}

/* SECTION LOGICIELS */
#software-section{
    height: 190vh;
    background: linear-gradient(to right,#2a3135, #0d1113);
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}
/* Titre */
#software-section h1{
    padding: 20px;
    color: white;
    font-size: 45pt;
    letter-spacing: 5px;
}

/* Conteneur des sections (Dev mobile, Dev web, Javascript) */
.section-kotlin{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6%;
    padding-bottom: 6%;
}

/* Conteneur des images + textes */
.kotlin-bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20px; */
    width: 80%;
}

/* Conteneur des images */
.images-container{
    display: flex;
    flex-direction: column;
}

/* Images */
.image{
    height: 120vh;
    cursor: pointer;
}

/* Textes */
 .texts{
     display: flex;
     flex-direction: column;
     width: 50%;
     text-align: left;
 }

/* Titre des sections (KOTLIN, HTML/CSS, JAVASCRIPT)*/
.section-title{
    text-align: left;
    color: black;
    font-size: 30pt;
    font-weight: bold;
}

.text-right{
    font-size: 14pt;
}

/* Conteneur de la section HTML/CSS */
.section-html-css{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6%;
    padding-bottom: 6%;
    background: linear-gradient(to right,#2a3135, #0d1113);
}
/* Conteneur des images et textes */
.html-css-bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

#html-text{
    color: white;
}
#html-section{
    color: white;
}

/* Section JAVASCRIPT */
.section-javascript{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6%;
}
/* Conteneur des images + textes */
.javascript-bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

/* BOUTON CONTACT */
#section-contactBtn{
    padding-top: 15%;
    width: 100%;
    text-align: center;
}
#contactBtn{
    width: 200px;
    height: 70px;
    cursor: pointer;
    color: #fff;
    background: #9e1919;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 8px  15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    outline: none;
    letter-spacing: 2.5px;
    font-size: 10pt;
    text-transform: uppercase;
}
#contactBtn:hover {
    background: linear-gradient(to right, red, #9e1919);
    box-shadow: 0px 8px 15px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }






/* _____________________PAGE CONTACT____________________ */

/* Body de la page contact */
 #main-contact{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100vh;
 }

.nav-contact{
    background-color: black;
    position: relative;
}

.ligne1-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo-contact{
        text-align: center;
        margin-top: -50px;
        cursor: pointer;
        z-index: 2;
}

/* Réseaux sociaux */
.social-media-contact{
    align-items: left;
    padding: 20px;
    z-index: 3;
}
/* Espace entre les éléments (réseaux sociaux) */
.social-media-contact a{
    padding-inline: 5px;
}

 #contact-container{
     position: absolute;
     margin-top: 50vh;
     padding-bottom: 6%;
     transform: translateY(-50%, -50%);
     
 }

 form h1{
     color: #9e1919;
     margin-top: 5px;
     text-align: center;
 }

 main form{
     background-color: #181818;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     padding: 2vw 4vw;
     width: 90%;
     max-width: 600px;
 }

 form input, form textarea{
     border:0;
     margin: 10px 0;
     padding: 20px;
     outline:none;
     background: white;
     border: 1px solid #282828;
     font-size: 14pt;
 }

 .label{
     font-size: 16pt;
     color: white;
 }
 
 #button{
     padding: 15px;
     background-color: #9e1919;
     border-radius: 10px;
     border: none;
    color: white;
    outline:none;
    cursor: pointer;
    margin: 40px auto 0;
 }